div#hopLinks {
    margin-top: 16em;
    margin-left: 2em;
    user-select: none;

    & a:hover {
        text-decoration: underline;
    }

    & button#hopLinksUpdate {
        margin: 1em;
    }

    & div#outgoingLinks,
    div.tokenLink {
        display: flex;
        flex-wrap: wrap;
    }

    & div#hopLinksKeyword {
        background: var(--ls-quaternary-background-color);

    }

    & div.hopLinksTh {
        background: var(--ls-tertiary-background-color);
    }

    & div.hopLinksTh,
    div.hopLinksTd {
        padding: .8em;
        width: 180px;
        display: block;
        font-size: .89em;
        border: 1px solid var(--ls-guideline-color);

        &:hover:not(:has(div.hopLinks-popup-content)) {
            opacity: 0.8;
        }
    }

    & div.tokenLink:not(:has(div.hopLinksTd)) {
        display: none;
    }

    & select {
        background-color: inherit;
        color: inherit;
    }

    & option {
        background-color: var(--ls-primary-background-color);
        color: var(--ls-primary-text-color);
    }

    & label {

        & div.hopLinksTd {
            height: 100%;
            cursor: zoom-in;

            >a {
                line-height: 1.8em;
            }
        }

        & div.hopLinks-popup-content {
            overflow: auto;
            min-width: 340px;
            max-width: 660px;
            min-height: 200px;
            max-height: 620px;
            color: var(--ls-primary-text-color);
            padding: 1em;
            box-shadow: 0 0 0.5em 0.2em var(--ls-primary-background-color);
            display: none;
            position: absolute;
            transform: translate(-10%, -50%);
            z-index: 1;
            border-radius: 0.2em;
            outline: 2px solid var(--ls-guideline-color);
            outline-offset: 3px;
            cursor: zoom-out;
            backdrop-filter: blur(70px);
            font-size: .96em;

            & div.hopLinks-popup-img-container {
                display: flex;
                gap: 0 20px;
                padding: 10px;

                & div.hopLinks-popup-anchor {
                    >a {
                        margin-left: .5em;
                        margin-right: .5em;
                    }

                    >img {
                        object-fit: scale-down;
                        max-width: 80px;
                        max-height: 80px;
                        vertical-align: top;
                    }
                }
            }

            & pre {
                line-height: 2.5em;
            }
        }

        & input[type="checkbox"] {
            display: none;
        }

        & input[type="checkbox"]:checked+div.hopLinks-popup-content {
            display: block;
            transition: .2s;
        }
    }

    & div.tokenLink label div.hopLinks-popup-content {
        transform: translate(0, -120%);
    }
}

div[label="plugin-settings-modal"] div[data-id="two-hop-link"] div[data-key="excludePages"].as-input textarea.form-input {
    height: 15em;
}